<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/styles.css"/>
<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
<head>
  <title>Basic Webshop</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="content">
  <header>My Shop</header>
  <hr>
  <div class="top-toolbar">
    <form action="" method="get">
      <div class="filters">
        <a class="button" href="/only-available">only available</a>
        <a class="button" href="/cheapest-first">cheapest first</a>
        <a class="button" href="/contains-nike">contains nike</a>
        <a class="button" href="/average-stock">average stock</a>
        <a class="button" href="/most-expensive-available">most expensive available</a>
      </div>

      <span th:text="'Average stock: ' + ${average}"/>

    </form>
  </div>
</div>
</body>
</html>
