<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="stylesheet" href="/styles.css"/>
<head>
  <title>Programmers Fox Club</title>
  <meta charset="utf-8"/>
</head>
<body>
<div class="content">
  <h1>Welcome to Programmer Fox Club!</h1>

  <form th:action="@{/login}" method="post">
    <header>Please provide a name, so you can associate it with your pet!</header>
    <label>Name:</label>
    <input type="text" name="name" placeholder="Type a name..."/>
    <button>go</button>
  </form>
  <p th:text="${message}"/>

  <a href="/add">Add a new pet</a>
</div>
</body>
</html>