<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Programmers Fox Club</title>
  <meta charset="utf-8"/>
  <style>
    body {
      padding-left: 5%;
    }

    button {
      text-transform: uppercase;
    }

  </style>
</head>
<body>
<h1>Welcome to the nutrition store!</h1>
<ul>
  <li><a th:href="@{/(name=${name})}">Information</a></li>
  <li><a th:href="@{/nutritionStore(name=${name})}">Nutrition store</a></li>
  <li><a th:href="@{/trickCenter(name=${name})}">Trick Center</a></li>
</ul>

<form th:action="@{/nutritionStore(name=${name})}" method="post">
  <label>Food:</label>
  <input list="food" name="food"/>
  <datalist id="food">
    <select>
      <option th:each="food: ${food}"
              th:text="${food}"
              th:value=" ${food}"
              th:selected="${food.equals(currentFood)}"/>
      </option>
    </select>
  </datalist>

  <label>Drink:</label>
  <input list="drink" name="drink"/>
  <datalist id="drink">
    <select>
      <option th:each="drink: ${drink}"
              th:text="${drink}"
              th:value=" ${drink}"/>
<!--              th:selected="${drink.equals(currentDrink)}"/>-->

      </option>
    </select>
  </datalist>

  <button type="submit">change</button>
</form>

</body>
</html>