<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/styles.css"/>
<head>
  <title>Useful utilities</title>
  <meta charset="utf-8"/>
</head>
<body>
<div>
  <a href="/useful/colored">Color the page!</a>
</div>
<div>
  <a href="/useful/email?email=is@this.valid">E-mail validator</a>
</div>
<div>
  <a href="/useful/caesar/decode?word=fybnqmf&number=1">Caesar decode</a>
</div>
<div>
  <a href="/useful/caesar/encode?word=example&number=1">Caesar encode</a>
</div>
</body>
</html>