body {
  background-color: lightgray;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

/*header {*/
/*  padding-top: 16px;*/
/*  color: crimson;*/
/*  font-size: 28px;*/
/*  text-align: left;*/
/*}*/

/*hr {*/
/*  display: block;*/
/*  margin: 0.5em auto;*/
/*  border-style: inset;*/
/*  border-width: 1px;*/
/*  border-color: crimson;*/
/*}*/

.content {
  margin: 0 auto;
  padding: 0 10% 5% 10%;
  overflow: scroll;
}

table {
  padding-top: 16px;
  width: 60%;
}

th {
  vertical-align: middle;
  height: 36px;
  background-color: darkolivegreen;
  color: whitesmoke;
  text-transform: capitalize;
}

tr {
  vertical-align: middle;
  border: none;
  background-color: ghostwhite;
  color: dimgrey;
}

td {
  padding: 8px;
  text-transform: capitalize;
}
