body {
  background-color: lightgray;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

form {
  padding-top: 16px;
  font-size: 16px;
}

header {
  color: dimgrey;
  padding-bottom: 8px;
  font-size: 14px;
}

table {
  padding-top: 16px;
  width:100%;
}

th {
  vertical-align: middle;
  height: 36px;
  background-color: darkolivegreen;
  color: whitesmoke;
}

tr {
  vertical-align: middle;
  border: none;
  background-color: ghostwhite;
  color: dimgrey;
}

label, button {
  color: darkolivegreen;
  font-weight: bold;
}

button {
  border-radius: 3px;
  font-size: 12px;
}

label {
  font-size: 14px;
}

datalist {
  height: 28px;
}

td {
  padding: 8px;
}

.content {
  margin: 0 auto;
  padding: 0 10% 5% 10%;
  overflow: scroll;
  font-family: 'Open Sans', sans-serif;
}

.top-up {
  float: left;
}

.add-new {
  float: right;
}
