<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="stylesheet" href="/styles.css"/>
<!--<link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>-->
<head>
  <title th:utext="#{label.title}"></title>
  <meta charset="utf-8"/>

</head>
<body class="text-center">

<div style="text-align: right;padding:5px;margin:5px 0px;background:#ccc;">
  <a th:href="@{/todo?lang=en}">EN</a>
  &nbsp;|&nbsp;
  <a th:href="@{/todo?lang=fr}">FR</a>
  &nbsp;|&nbsp;
  <a th:href="@{/todo?lang=ru}">RU</a>
</div>

<h1 th:utext="#{label.heading}"></h1>

<a href="/todo/add" th:utext="#{label.add}"></a>

<a href="/todo/assignees" th:utext="#{label.list}"></a>

<div class="active-pink-3 active-pink-4 mb-4">
  <form th:action="@{/todo}" method="post">
    <input class="form-control" type="text" name="search" placeholder="Search" aria-label="Search">
    <button type="submit">search</button>
  </form>
</div>

<table>
  <thead>
  <th th:utext="#{label.id}"></th>
  <th th:utext="#{label.action}"></th>
  <th th:utext="#{label.done}"></th>
  <th th:utext="#{label.urgent}"></th>
  <th th:utext="#{label.date}"></th>
  <th th:utext="#{label.assignee}"></th>
  <th></th>
  </thead>
  <tbody>

  <tr>
  <tr th:each="todo : ${todos}"></td>
    <td th:text="${todo.getId()}"></td>
    <td><a class="clickable" th:href="|@{/todo/edit/}${todo.getId()}|" th:text="${todo.getTitle()}"
           th:onclick=""></a></td>
    <td th:text="${todo.isDone()}"></td>
    <td th:text="${todo.isUrgent()}"></td>
    <td th:text="${todo.getCreateDate()}"></td>
    <td><a class="clickable"
           th:if="${todo.getAssignee() !=null}"
           th:href="|@{/todo/alltodo/}${todo.getAssignee().getId()}"
           th:text="${todo.getAssignee().getName()}"/>
      <a class="clickable"
         th:unless="${todo.getAssignee() !=null}" th:href="|@{/todo/edit/}${todo.getId()}|"
         th:text="'no assignee'"/>
    </td>
    <td><a th:href="${todo.getId()}+'/delete'">delete</a></td>
    <td>
  </tr>
  </tbody>
</table>

</body>
</html>