<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/styles.css"/>
<head>
  <title>Account details</title>
  <meta charset="utf-8"/>
</head>
<body>

<div class="content">
  <div class="top-up">
  <form action="#" th:action="@{/increase}" method="post">
    <header>top up your balance</header>
    <label>select name</label>
    <input list="names" name="name"/>
    <datalist id="names">
      <select>
        <option th:each="account: ${list.getList()}" th:text="${account.getName()}"
                th:value=" ${account.getName()}"/>
        </option>
      </select>
    </datalist>

    <button>Top up</button>

  </form>
  </div>

  <div class="add-new">
  <form action="#" th:action="@{/add}" method="post">
    <header>add new account</header>
    <label>name</label>
    <input type="text" name="name"/>
    <label>balance</label>
    <input type="text" name="balance"/>
    <label>animal type</label>
    <input type="text" name="animalType"/>

    <button>Add</button>
  </form>
  </div>

  <table>
    <thead>
    <th>index</th>
    <th>rank</th>
    <th>personality</th>
    <th>name</th>
    <th>balance</th>
    <th>type of animal</th>
    </thead>
    <tbody>

    <tr>
    <tr th:each="account : ${list.getList()}">
      <td th:text="${accountStat.index + 1}">
      <td th:if="${account.isKing()}"><span th:style="'font-weight:' + ${weight}"/>King</td>
      <td th:unless="${account.isKing()}"></td>
      <td th:text="${account.getPersonality().toLowerCase().startsWith('g')} ? 'Good One' : 'Bad One'"></td>
      <td th:text="${account.getName()}"></td>
      <td th:text="|${#numbers.formatDecimal(account.getBalance(), 0, 'COMMA', 2, 'POINT')} ${currency}|"></td>
      <td th:text="${account.getAnimalType()}"></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>